<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tu ojos</h2>
                    <div class="lead">
                        <p>
                            <em>¿Alguna vez te has preguntado que tan importantes son?</em>&nbsp;&nbsp; Da una mirada, a través
                            del siguiente video, a esos objetos que nos sirven para poder mirar al mundo.&nbsp;&nbsp; Esperamos
                            reavivar la conciencia que tienes sobre ellos, para que así les brindes el cuidado necesario para
                            que te acompañen toda tu vida.
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6" id="video-frame">
                    <iframe width="570" height="410" src="https://www.youtube.com/embed/ZVSj-6FfUw4" frameborder="0" allowfullscreen id="youtube">
                    </iframe>
                </div>
            </div>
        </div>
    </section>