<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
                    <div class="lead">
                        <p>A special thanks to <a href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template.  Visit their website to become a member!</p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <img class="img-responsive" src="img/mac/retina.png" alt="">
                </div>
            </div>
        </div>
    </section>